<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>succeed</title>
    <link rel="stylesheet" href="../../styles/withdrawal_pending.css">
</head>
<body>


   <!-- google translator -->
   <div class="custom-translate-box">
        <div id="google_translate_element"></div>

        <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
            pageLanguage: 'en', // Set your default language (e.g., 'en' for English)
            includedLanguages: 'en,fr,de,es,it,pt,hi,ar,pl,sv', // Optional: Specify languages you want to support
            layout: google.translate.TranslateElement.InlineLayout.SIMPLE
            }, 'google_translate_element');
        }
        </script>

        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    </div>
    <!-- google translator -->

    <section class="pending-section">
        <div class="warning success">
            <div class="img">
                <img src="../../images/check.png" alt="warning">
            </div>
            <p>
                congratulations for a successful withdrawal!
            </p>
            <p>
                if you didn't recieve anything in 5min, please contact our customer care.
            </p>
            <a href="./method_select.html"><button>OK</button></a>
        </div>
    </section>

    <script>
        // get the container
        const warning = document.querySelector('.warning');

        // check if the animation end
        warning.addEventListener('animationend' , ()=>{
            warning.style.opacity='1';
        });
    </script>
    
</body>
</html>