<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>withdrawal methods</title>
    <link rel="stylesheet" href="../../styles/method_select.css">
</head>
<body>

    <!-- google translator -->
    <div class="custom-translate-box">
        <div id="google_translate_element"></div>

        <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
            pageLanguage: 'en', // Set your default language (e.g., 'en' for English)
            includedLanguages: 'en,fr,de,es,it,pt,hi,ar,pl,sv', // Optional: Specify languages you want to support
            layout: google.translate.TranslateElement.InlineLayout.SIMPLE
            }, 'google_translate_element');
        }
        </script>

        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    </div>
    <!-- google translator -->
    

    <section class="method-section">
        <div class="methods">
            <h2>Select a withdrawal method</h2>
            <a href="./usdt_withdrawal.html"><button>Withdraw in USDT</button></a>
            <a href="./btc_withdrawal.html"><button>Withdraw in BTC</button></a>
            <a href="./bank.html"><button>Withdraw to Bank</button></a>
        </div>
    </section>
    
</body>
</html>