:root{
    --blue: rgb(0, 75, 189);
    --darkblue: rgb(0, 49, 122);
    --myfont: sans-serif;
    --valid: rgb(0, 255, 0);
    --invalid: red;
    --warning: yellow;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: var(--blue);
    font-family: var(--myfont);
}

.all-reciepts-section{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 150px;
}

.all-reciepts-section h2{
    color: white;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 20px;
}

.all-reciepts-section .all-reciepts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 20px;
    padding: 40px;
    height: auto;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
}

.all-reciepts-section .all-reciepts .reciept{
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 3px;
    display: grid;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
    position: relative;

}
.all-reciepts-section .all-reciepts .reciept .inputbox{
    margin: 10px 0;
    width: 100%;
    position: relative;
}
.all-reciepts-section .all-reciepts .reciept label{
    font-size: 1rem;
    color: var(--blue);
    text-transform: capitalize;
}
.all-reciepts-section .all-reciepts .reciept i{
    position: absolute;
    top: 28px;
    right: 10px;
    color: var(--blue);
}

.all-reciepts-section .all-reciepts .reciept h3{
    color: var(--blue);
    text-transform: capitalize;
}
.all-reciepts-section .all-reciepts .reciept span{
    color: red;
}

.all-reciepts-section .all-reciepts .reciept input{
    width: 100%;
    height: 30px;
    padding-left: 20px;
    border: 1px solid var(--blue);
    border-radius: 3px;
    color: var(--blue);
    background: transparent;
}

.all-reciepts-section .all-reciepts .reciept .btns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.all-reciepts-section .all-reciepts .reciept .btns #delete{
    background-color: red;
}
.all-reciepts-section .all-reciepts .reciept .btns a{
    width: 49%;
}
.all-reciepts-section .all-reciepts .reciept .btns a button{
    width: 100%;
}
.all-reciepts-section .all-reciepts .reciept .btns button{
    width: 49%;
    height: 30px;
    border: none;
    color: white;
    font-size: .9rem;
    border-radius: 3px;
    background-color: var(--blue);
    text-transform: capitalize;
}

@media (max-width:600px) {
    
    .all-reciepts-section{
            top: 90px;
    }
    
    .all-reciepts-section h2{
        margin-bottom: 20px;
    }
    
    .all-reciepts-section .all-reciepts{
        grid-template-columns: 1fr;
        gap: 0px;
        row-gap: 30px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .all-reciepts-section .all-reciepts .reciept{
        width: 80vw;
    }

    .all-reciepts-section .all-reciepts .reciept i{
        top: 26px;
    }
    
    .all-reciepts-section .all-reciepts .reciept h3{
        font-size: 1.1rem;
    }
    
    .all-reciepts-section .all-reciepts .reciept input{
        height: 30px;
    }
    
}

@media (min-width:610px) and (max-width:800px) {
    .all-reciepts-section .all-reciepts{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        /* row-gap: 30px; */
        padding: 20px;
        align-items: center;
        justify-content: center;
    }
}

/* delete popup-box */
.delete-popup{
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(10px);
    position: absolute;
    padding: 30px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    display: none;
}
.delete-popup.open{
    display: block;
}
.delete-popup .wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.delete-popup img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid red;
    align-items: center;
}
.delete-popup p{
    color: red;
    text-align: center;
}
.delete-popup .popup-btns{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.delete-popup .popup-btns :nth-child(1){
    background-color: red;
}
.delete-popup .popup-btns a{
    width: 49%;
    border-radius: 3px;
    button{
        width: 100%;
    }
}
.delete-popup .popup-btns button{
    width: 49%;
    border: none;
    background-color: var(--blue);
    padding: 8px 20px;
    border-radius: 3px;
    color: white;
}

button:hover{
    opacity: .5;
}