:root{
    --blue: rgb(0, 75, 189);
    --darkblue: rgb(0, 49, 122);
    --myfont: sans-serif;
    --valid: rgb(0, 255, 0);
    --invalid: red;
    --warning: yellow;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: var(--blue);
    font-family: var(--myfont);
}

.card-container .flag{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 5px;
    right: 5px;
}
.card-container .flag img{
    width: 100%;
    height: 100%;
}

.card-payment{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-payment .card-container{
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 30px 20px;
    position: relative;
    border-radius: 5px;
}

.card-payment .card-container .inputbox{
    width: 80%;
    height: auto;
}

.card-payment .card-container .inputbox label{
    color: var(--blue);
    font-size: 1.1rem;
}
.card-payment .card-container .inputbox input{
    color: var(--blue);
    outline: none;
    border: none;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: .9rem;
}
.card-payment .card-container .inputbox input[ type="text" ]{
    border: 1px solid var(--blue);
    border-radius: 3px;
    height: 40px;
    padding-left: 20px;
}
.card-payment .card-container{
    color: var(--blue);
}
.card-payment .card-container h2{
    width: 82%;
    margin-bottom: 5px;
}
.card-payment .card-container p{
    width: 80%;
    margin-bottom: 20px;
}
.card-payment .card-container span{
    color: red;
}

.card-payment .card-container button{
    width: 80%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background-color: var(--blue);
    color: white;
    font-size: 1.2rem;
}

@keyframes load {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media (max-width:600px) {
    
    .card-container .flag{
        width: 40px;
        height: 40px;
        top: 0;
        right: 0;
    }
    
    .card-payment .card-container{
        width: 90vw;
        padding: 30px 10px;
        border-radius: 3px;
    }
    
    .card-payment .card-container .inputbox{
        width: 90%;
        height: auto;
    }
    
    .card-payment .card-container .inputbox label{
        font-size: 1rem;
    }
    .card-payment .card-container .inputbox input{
        margin-top: 5px;
        margin-bottom: 20px;
        font-size: .9rem;
    }
    .card-payment .card-container h2{
        width: 90%;
        margin-top: 8px;
        font-size: 1.1rem;
        text-align: center;
    }
    .card-payment .card-container p{
        width: 80%;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .card-payment .card-container button{
        width: 90%;
        height: 40px;
        font-size: 1rem;
    }
    
}