:root{
    --blue: rgb(0, 75, 189);
    --darkblue: rgb(0, 49, 122);
    --myfont: sans-serif;
    --valid: rgb(0, 255, 0);
    --invalid: red;
    --warning: yellow;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    font-family: var(--myfont);
}

main{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    position: relative;
    top: 120px;
}

main .usa-flag{
    border: 1px solid green;
}

main h2{
    color: var(--blue);
    text-transform: uppercase;
}
main span{
    color: red;
}
main p{
    color: var(--blue);
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 20px;
}

main .dashboard-section{
    width: 90%;
    height: 90%;
    box-shadow: 0 0 5px 1px silver;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 30px;
}

main .dashboard-section .profile-info{
    grid-column: span 1;
    box-shadow: 0 0 5px 1px silver;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main .dashboard-section .profile-info .image{
    width: 95%;
    height: 180px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
}
main .dashboard-section .profile-info .image img{
    width: 50%;
    height: 100%;
}

main .dashboard-section .profile-info  form{
    width: 80%;
    height: auto;
    /* box-shadow: 0 0 5px 1px silver; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputbox{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.inputbox label{
    color: var(--blue);
    text-transform: capitalize;
    font-size: 1.1rem;
}
.inputbox input{
    width: 100%;
    height: 35px;
    padding-left: 20px;
    border: 1px solid var(--blue);
    margin-bottom: 10px;
    color: var(--blue);
    font-size: 1rem;
    text-transform: capitalize;
    outline: none;
}

.inputbox button{
    color: white;
    height: 35px;
    background-color: var(--blue);
    border: none;
    border-radius: 3px;
    font-size: 1.2rem;
    transition: .5s;
}
.inputbox button:hover{
    opacity: .5;
}

.finance{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.finance .status{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blue);
    padding: 10px;
    border-radius: 3px;
}
.finance .status h3{
    color: white;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.finance .status p{
    color: white;
}
.finance .status span{
    color: white;
}
.finance .status a button{
    width: 130px;
    color: var(--blue);
    background-color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 3px;
    text-transform: capitalize;
    transition: .5s;
}

.finance .status a button:hover{
    /* color: white;
    background-color: var(--valid); */
    opacity: .6;
}

@media (max-width:600px) {

    main{
        width: 100vw;
        height: auto;
        padding: 20px 0;
        top: 70px;
    }
    
    main h2{
        width: 90%;
        font-size: 1.1rem;
        text-align: center;
    }

    main p{
        font-size: .9rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    main .dashboard-section{
        width: 100%;
        height: auto;
        grid-template-columns: 1fr;
        padding: 20px;
    }

    main .dashboard-section .profile-info{
        padding: 20px;
    }
    
    main .dashboard-section .profile-info .image{
        width: 100%;
        height: 160px;
        margin-bottom: 10px;
    }
    
    main .dashboard-section .profile-info  form{
        width: 100%;
        height: auto;
    }
    
    .inputbox label{
        font-size: 1rem;
    }
    .inputbox input{
        height: 30px;
        font-size: .9rem;
    }
    
    .inputbox button{
        height: 32px;
        font-size: 1rem;
    }
    
    .finance{
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
    }
    
    .finance .status{
        width: 100%;
        padding: 20px;
        border-radius: 3px;
    }
    .finance .status h3{
        margin-bottom: 0px;
    }
    .finance .status p{
        color: white;
        font-size: 1rem;
    }
}