:root{
    --blue: rgb(0, 75, 189);
    --darkblue: rgb(0, 49, 122);
    --myfont: sans-serif;
    --valid: rgb(0, 255, 0);
    --invalid: red;
    --warning: yellow;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    font-family: var(--myfont);
}

footer{
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 150px;
}

footer a{
    text-decoration: none;
}

footer .logo{
    width: 130px;
    height: 70px;
    padding: 5px;
    margin: 30px;
}
footer .logo:hover{
    opacity: .7;
}

footer .logo img{
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}

footer .logo a{
    color: white;
    text-align: center;
    position: relative;
}
footer .logo a h2{
    margin-left: 20px;
}
footer .logo a p{
    color: white;
    font-size: 1rem;
    text-transform: capitalize;
}
footer .logo a i{
    position: absolute;
    left: 17px;
    top: 2px;
    font-size: 1.5rem;
    color: red;
}

footer .copyr{
    width: 100%;
    height: 80px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--darkblue);
}

@media (max-width:600px) {
    footer{
        top: 50px;
    }
    footer .logo{
        width: 100px;
        height: 60px;
        padding: 0;
        margin: 20px;
    }
    
    footer .logo a h2{
        margin-left: .6rem;
    }
    footer .logo a p{
        font-size: .7rem;
    }
  
    footer .logo a i{
        font-size: 1.5rem;
        top: 0px;
        left: 5px;
    }

    footer .copyr{
        width: 100%;
        height: 50px;
        font-size: .7rem;
    }
}